<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "塚本翔 (Sho Tsukamoto)",
        "description": "岡山県在住のWeb開発者・塚本翔（Sho Tsukamoto）のポートフォリオ。PHP/Laravelによるバックエンド開発やReact/React Nativeを用いたフロントエンド構築を得意とし、実績や活動を紹介。第二種電気工事士資格も持ち、ビジネスを動かす総合力で開発に貢献します。",
        "image": "https://sho-tsukamoto.jp/assets/images/my_profile-680b23cb.jpg",
        "jobTitle": "Web Developer",
        "url": "https://sho-tsukamoto.jp/",
        "sameAs": [
            "https://github.com/shoppie70",
            "https://www.linkedin.com/in/%E7%BF%94-%E5%A1%9A%E6%9C%AC-74b27925a/"
        ],
        "skills": [
            "PHP",
            "Laravel",
            "React",
            "React Native",
            "HTML5",
            "CSS3",
            "JavaScript",
            "電気工事"
        ]
    }
</script>
