<!-- Open Graph / Facebook -->
<meta property="og:title" content="塚本翔 (Sho Tsukamoto) - Web Developer">
<meta property="og:description"
    content="岡山県在住のWeb開発者・塚本翔（Sho Tsukamoto）のポートフォリオ。PHP/Laravelによるバックエンド開発やReact/React Nativeを用いたフロントエンド構築を得意とし、実績や活動を紹介。第二種電気工事士資格も持ち、ビジネスを動かす総合力で開発に貢献します。">
<meta property="og:url" content="https://sho-tsukamoto.jp/">
<meta property="og:type" content="website">
<meta property="og:image" content="https://sho-tsukamoto.jp/ogp.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="塚本翔 (Sho Tsukamoto) - Web Developer">
<meta property="twitter:description"
    content="岡山県在住のWeb開発者・塚本翔（Sho Tsukamoto）のポートフォリオ。PHP/Laravelによるバックエンド開発やReact/React Nativeを用いたフロントエンド構築を得意とし、実績や活動を紹介。第二種電気工事士資格も持ち、ビジネスを動かす総合力で開発に貢献します。">
<meta property="twitter:image" content="https://sho-tsukamoto.jp/ogp.jpg">
