<header class="fixed top-4 left-4 right-4 z-50">
    <nav class="mx-auto max-w-screen-lg glass-nav text-white px-6 py-4 rounded-full shadow-xl">
        <div class="flex items-center justify-between w-full">
            <a href="#"
                class="text-xl font-bold tracking-widest font-heading hover:text-blue-500 transition-colors duration-200">SHO.TSUKAMOTO</a>
            <ul class="flex items-center space-x-6 md:space-x-12">
                <li>
                    <a href="#about"
                        class="text-xs md:text-sm font-semibold tracking-wider hover:text-blue-500 transition-colors duration-200">
                        ABOUT
                    </a>
                </li>
                <!-- <li>
                    <a href="#core-value"
                        class="text-xs md:text-sm font-semibold tracking-wider hover:text-blue-500 transition-colors duration-200">
                        CORE VALUE
                    </a>
                </li> -->
                <li>
                    <a href="#skills"
                        class="text-xs md:text-sm font-semibold tracking-wider hover:text-blue-500 transition-colors duration-200">
                        SKILLS
                    </a>
                </li>
                <li>
                    <a href="#certifications"
                        class="text-xs md:text-sm font-semibold tracking-wider hover:text-blue-500 transition-colors duration-200">
                        CERTIFICATIONS
                    </a>
                </li>
                <li>
                    <a href="#experience"
                        class="text-xs md:text-sm font-semibold tracking-wider hover:text-blue-500 transition-colors duration-200">
                        EXPERIENCE
                    </a>
                </li>
                <li>
                    <a href="#works"
                        class="text-xs md:text-sm font-semibold tracking-wider hover:text-blue-500 transition-colors duration-200">
                        WORKS
                    </a>
                </li>
                <li>
                    <a href="#blog"
                        class="text-xs md:text-sm font-semibold tracking-wider hover:text-blue-500 transition-colors duration-200">
                        BLOG
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
