.bg-dark-grayish-blue{
    background-color: #313639;
}
.bg-dark-blue {
    background-color: #1c1d20;
}

.bg-cyanish-black {
    background-color: #222527;
}

.bg-footer {
    background-color: #414649;
}
