.swiper-pagination-bullet {
    background: #ffffff !important;
    opacity: 0.4 !important;
    
    &.swiper-pagination-bullet-active {
        background: #3b82f6 !important; /* blue-500 */
        opacity: 1 !important;
    }
}
